html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
}

.login-step {
    display: flex;
    flex-direction: column;
}

.login-step input, .login-step button{
    margin: 5px;
}