@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="..." alt="Trademark image" />    
    <h1 >Sign In HPSO</h1>
    <div class="form-container">
        <div id="step-email" class="login-step">
            <input id="username" class="form-control" placeholder="Username" />
            <button type="button" class="btn btn-primary form-control" onclick="nextStep()">Next</button>
        </div>
        <div id="step-password" class="login-step visually-hidden">            
            <input id="password" class="form-control" placeholder="Password" />
            <button type="button" class="btn btn-primary form-control" onclick="signIn('hpso')">Sing In</button>
        </div>
        <div id="loader" class="spinner-grow text-danger visually-hidden" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
